@font-face {
  font-family: "JetBrains";
  src: url('./src/assets/fonts/JetBrains_Mono/static/JetBrainsMono-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "JetBrainsBold";
  src: url('./src/assets/fonts/JetBrains_Mono/static/JetBrainsMono-Bold.ttf');
  font-weight: 600;
}